<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">

    <style>
        .warning-msg {
            color: #9F6000;
            background-color: #FEEFB3;
        }
        html {
            zoom: 110%;
        }
    </style>
</head>
<body>

<div class="main">

    <div class="success-msg" th:if="${message}" th:text="${message}" style="position: absolute; display: flex; display: -webkit-flex; " >
        <i class="fa fa-check">
        </i>
    </div>

    <div class="warning-msg" th:if="${errorMsg}" th:text="${errorMsg}" style="position: absolute; display: flex; display: -webkit-flex; " >
        <i class="fa fa-check">
        </i>
    </div>

    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure>
                        <img th:src="@{/images/signin-image.jpg}" alt="sing up image">
                    </figure>
                    <a th:href="'register'" class="signup-image-link">Create an account</a>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>


                    <form method="post" th:action="@{/login}" th:object="${loginUserDTO}" class="register-form" id="login-form">


                        <div class="form-group">
                            <div class="input-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="Your Name" th:field="*{username}" th:errorClass="is-invalid"/>
                            </div>
                            <div th:if="${#fields.hasErrors('username')}" th:errors="${loginUserDTO.username}" class="invalid-feedback" style="font-size: 14px">Email Error Message Here</div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password" th:field="*{password}" th:errorClass="is-invalid"/>
                            </div>
                            <div th:if="${#fields.hasErrors('password')}" th:errors="${loginUserDTO.password}" class="invalid-feedback" style="font-size: 14px">Email Error Message Here</div>
                        </div>

                        <div class="form-group">
                        </div>

                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>