<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="static/scss/style.scss">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/product/">
    <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">
    <script src="/docs/5.3/assets/js/color-modes.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand d-md-none" href="#">
            <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
            Aperture
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tour</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="/add">Add Post</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Saved Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Log Out</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">

    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Designed for engineers</h1>
        <h3 class="fw-normal text-muted mb-3">Build anything you want with Aperture</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#">
                Learn more
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
            <a class="icon-link" href="#">
                Buy
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">

                    <div class="card shadow-sm" th:each="blog: ${blogs}">

                    <div class="card-body d-flex flex-column">
                        <img th:src="${blog.image}" alt="Blog Image" style="width: 100%; height: 100%; object-fit: cover;">
                        <div style="flex: 1;">
                            <h5 th:text="${blog.title}" style="padding: 10px;"></h5>
                        </div>
                        <p class="card-text" th:text="${blog.anons}" style="padding: 10px"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div th:if="${totalPages > 1}">
            <ul class="pagination">
                <li th:if="${currentPage > 0}">
                    <a th:href="@{/your-url(page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                    th:class="${pageNumber == currentPage} ? 'active'">
                    <a th:href="@{/your-url(page=${pageNumber})}" th:text="${pageNumber + 1}">1</a>
                </li>
                <li th:if="${currentPage < totalPages - 1}">
                    <a th:href="@{/your-url(page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
<script>
    // Функция для отправки GET запроса к /main с использованием токена JWT
    function fetchDataWithToken() {
        // Получаем токен из куки
        const token = getCookie("jwtToken");

        // Проверяем наличие токена
        if (token) {
            // Отправляем GET запрос на сервер с токеном в заголовке Authorization
            fetch("main", {
                method: "GET",
                headers: {
                    "Authorization": `Bearer ${token}`
                }
            })
                .then(response => {
                    // Обработка ответа от сервера
                })
                .catch(error => {
                    // Обработка ошибок
                });
        } else {
            console.log("Токен отсутствует");
        }
    }
    // Функция для получения значения куки по имени
    function getCookie(name) {
        const cookies = document.cookie.split("; ");
        for (const cookie of cookies) {
            const [cookieName, cookieValue] = cookie.split("=");
            if (cookieName === name) {
                return cookieValue;
            }
        }
        return null;
    }
</script>
</html>
